:root {
    --color-bg: #111c1c;
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

#clock {
    position: absolute;
    fill: none;
    width: 90%;
    height: 90%;
    z-index: -1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: monospace;
    text-align: center;
    background-color: var(--color-bg);
    cursor: default;
}

#face {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;
}

#alert {
    font-size: 1rem;
    font-weight: 500; 
    color: #dc143c;
    animation: blinker 1s infinite;
}

#container {
    font-size: 6rem;
    font-weight: 900;
    color: #1e90ff;
    animation: backToBlue 5s;
}

#minutes-left {
    font-size: 1.5rem;
    font-weight: 500; 
    color: dodgerblue;
    padding: 20px;
}

a {
    display: flex;
    text-decoration: none;
    color: #1e90ff;
    cursor: pointer;
    height: 10%;
    width: 10%;
    display: grid;
    place-items: center;
}

img {
    cursor: wait;
    animation: fadeIn 2s;
}

@keyframes blinker {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes backToBlue {
    0% {
        color: dodgerblue;
    }

    25%, 75% {
        color: crimson; 
    }
    
    100% {
        color: dodgerblue;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@media screen and (max-width: 500px) {
    #container {
        font-size: 3rem;
    }
    #minutes-left {
        font-size: 1rem;
    }
    #alert {
        font-size: 1rem;
    }
    a {
        width: 25%;
    }
    #clock {
        width: 70%;
    }
}

@media screen and (min-width: 500px) and (max-width: 1080px) {
    #container {
        font-size: 6rem;
    }
    #minutes-left {
        font-size: 1rem;
    }
    #alert {
        font-size: 1rem;
    }
    a {
        width: 20%;
    }
}