* {
    margin: 0;
    padding: 0;
}

svg {
    position: absolute;
    fill: none;
    width: 90%;
    height: 90%;
    z-index: -1;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: monospace;
    text-align: center;
    background-color:rgb(17, 28, 28);
    cursor: default;
}

#alert {
    font-size: 1rem;
    font-weight: 500; 
    color: crimson;
    animation: blinker 1s infinite;
}

#container {
    font-size: 6rem;
    font-weight: 900;
    color: dodgerblue;
    animation: backToBlue 5s;
}

#minutes-left {
    font-size: 1rem;
    font-weight: 500; 
    color: dodgerblue;
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 30vh;
    color: dodgerblue;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: dodgerblue;
    cursor: wait;
    height: 70%;
    display: grid;
    place-items: center;
}

 a:hover {
    color: crimson;
    cursor: pointer;
}

img {
    cursor: wait;
    animation: fadeIn 2s;
}

@keyframes blinker {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes backToBlue {
    0% {
        color: dodgerblue;
    }

    25%, 75% {
        color: crimson; 
    }
    
    100% {
        color: dodgerblue;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@media screen and (max-width: 500px) {
    #container {
        font-size: 3rem;
    }
    #minutes-left {
        font-size: 1rem;
    }
    #alert {
        font-size: 1rem;
    }
    footer {
        height: 30vh;
    }

    svg {
        width: 70%;
    }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
    #container {
        font-size: 6rem;
    }
    #minutes-left {
        font-size: 1.5rem;
    }
    #alert {
        font-size: 1rem;
    }
    footer {
        height: 30vh;
    }
}