#bottom {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    grid-area: 2 / 1 / 3 / 4;
    place-items: center;
    padding: 0 10px;
}

#player {
    border: 1px solid dodgerblue;
    border-radius: 5px;
    width: 275px;
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        display: grid;
        place-items: center;
    }
}

#waveform {
    border: 1px solid dodgerblue;
    border-radius: 5px;;
    width: 60%;
    height: 70%;
}

@media screen and (max-width: 540px) {
    #bottom {
      display: none;
    }
  }