:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(145deg, #242424, rgb(12, 12, 12));
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100dvh;
}

.google-sans-code {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.hero {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;

  nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    span {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      gap: 10px;
      color:rgba(255, 255, 255, 0.25);
      font-weight: 500;
    }

    svg {
      fill:rgba(255, 255, 255, 0.25);
      transition: transform 0.3s ease-in-out, fill 0.3s ease-in-out;
    }

    svg:hover {
      cursor: pointer;
      fill:rgba(255, 255, 255, 1);
      transform: rotate(180deg);
    }
  }
}

.minutes-counter {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.25);

  span {
    padding: 0 5px;
  }

  span:last-of-type {
    color: rgb(12, 12, 12);
    background-color: rgba(255, 255, 255, 0.25);
  }
}

.full-wrapper {
  display: grid;
  place-items: center;
  height: 90%;
}

.progress-bar-wrapper {
  height: 100px;
  width: 500px;
  border: 1px solid white;
  padding: 10px;
  box-shadow: 0 0 2.5px hsla(0, 0%, 100%, 0.5);
  margin-bottom: 40px;
}

.progress-bar {
  height: 100%;
  width: 100%;
  background-color: rgba(115, 115, 115, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.progress {
  height: 100%;
  background: linear-gradient(
    90deg,
    hsl(210, 100%, 50%) 0%,
    hsl(206, 100%, 50%) 25%,
    hsl(202, 100%, 50%) 50%,
    hsl(206, 100%, 50%) 75%,
    hsl(210, 100%, 50%) 100%
  );
  background-size: 200% 100%;
  animation: slideGradient 4s linear infinite;
  box-shadow: 0 0 5px hsl(206, 100%, 50%);
  display: grid;
  place-items: center;

  p {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    font-weight: 500;
  }
}

@keyframes slideGradient {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.backToBlue {
  animation: backToBlue 5s;
}

@keyframes backToBlue {
  0% {
    color: dodgerblue;
  }

  25%,
  75% {
    color: crimson;
  }

  100% {
    color: dodgerblue;
  }
}

.blinker {
  animation: blinker 1s infinite;
}

@keyframes blinker {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@media screen and (max-width: 550px) {
  .progress-bar-wrapper {
    height: 80px;
    width: calc(100vw - 50px);
    border: 1px solid white;
    padding: 10px;
  }
}
